## String Formatting

In [1]:
'This {0} costs {1} rupees.'.format("pen",125)     # Just replacing values with {0} and {1}

'This pen costs 125 rupees.'

In [3]:
'{0} {1}'.format(7,10**7)

'7 10000000'

In [8]:
print("{0:>1}".format(1))                          # '>1' after colon defines space to the right.
print("{0:>2}".format(1))                          #  '>1' means only one space to the right , '>2' means two spaces to the right and so on..
print("{0:>3}".format(1))

1
 1
  1

In [1]:
# task

print("{0} {1} {2}".format(2,2,2))
print("{0:>2} {1}".format(1,1))
print("{0:>3}".format(0))
print("{0:>2} {1}".format(1,1))
print("{0} {1} {2}".format(2,2,2))

2 2 2
 1 1
  0
 1 1
2 2 2

### User Input

In [18]:
number = input("Number:")                   # By default input function takes string input.
print(type(number))

Number:3
<class 'str'>

In [19]:
number = int(input("Number:"))              # To specify or to take an integer input from user we can use int before input function .
print(type(number))                         # Same goes with float

Number:9
<class 'int'>

## Operator

### Arithmetic Operators

In [20]:
a = 16                                      # / sign always gives output in float.
print(a/2)

8.0

In [21]:
print(a//2)                                 # to get it in integer format we can use // sign.

8

In [22]:
print(a%2)                                  # % it's not percentage its modulus or mod which basically gives you the 
                                            # remainder after the dividation.

0

In [2]:
16 % 2                                      # Try other arithmetic like + - *

0

### Comparison operator

In [27]:
x = 2
y = 3                                              
                                             # Comaprison operators always gives you op in bool format i.e True or False
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x==y)

False
False
True
True
False

## Logical Operators

In [4]:
# Logical Operators  -  'and' 'or' 'not'

a = 10
b = 20

In [5]:
a > b and a == b                               # If both the conditions are true then only the op will be true else false

False

In [6]:
a < b or a > b                                 # If either one of the condition is true the op will True .

True

In [9]:
not (a>b and a<b)                              # It basically gives you the opposite op (means if op is True NOT makes it opposite)

True

## IF - ELSE Statement

In [30]:
def driving_speed(x):                             # Ignore this code
    if x >= 15:
        return "Drive Slow"
    else :
        return "Drive Normally"
    
driving_speed(13)

'Drive Normally'

Syntax of both if statements and if else statements.

if condition then                             # It means if the condition is true then only the statement will be executed. 
    statement 
    
    
if condition then  
    statement                                  # If condition is true then print .                         
else  
    statement                                  # Or else print second statement .

In [3]:
drunk = True
speed_limit = 200

if 250>speed_limit and drunk:
    print("Pls! Don't funciknn drink and drive")

Pls! Don't funciknn drink and drive

In [35]:
x = float(input("Enter your BMI:"))

if x >= 24.9:
    print("Obese")
    
elif x<=18:
    print("Underweight")
    
else:
    print("Normal BMI")

Enter your BMI:18
Underweight

In [2]:
a = 50 
b = 55
if a+b==100:
    print("a is greater")
#print("dfhdvh")
elif a<b:
    print("b is greater")
else:
    print("Both equal")

SyntaxError: invalid syntax (1409002729.py, line 6)

In [4]:
a = 10
if a>=0:
    print('+ve num')
    
elif a==0:
    print('equal')
    
else:
    print('-ve num')

+ve num

In [6]:
x = int(input("Enter a num:"))
if x % 2 == 0:
    print("Even num")
    
else:
    print("Odd num")

Enter a num:10
Even num

In [3]:
a = 0
while a<=10:
    print(a)
    a+=1
print("Hello")

0
1
2
3
4
5
6
7
8
9
10
Hello

In [2]:
a = 10
while a>=1:
    print(a)
    a-=1
    
print("Hello")

10
9
8
7
6
5
4
3
2
1
Hello

In [7]:
num = int(input("Enter a num:"))
x = 1

while x<=10:
    print(num*x)
    x+=1
    
    
print("Hello")

Enter a num:5
5
10
15
20
25
30
35
40
45
50
Hello

In [22]:
a=2
b=3

res = 1
x=1

while x<=b:
    res = res*a
    x+=1
print(res)

8

In [9]:
# Factorial 

fact = 1
x = 1

num = int(input("Enter a num:"))
while x<=5:
    fact*=x
    x+=1
    
print("Factorial of",num,":",fact)

Enter a num:5
Factorial of 5 : 120