In [2]:
# Range

a = range(6)

In [3]:
a

range(0, 6)

In [5]:
list(a)

[0, 1, 2, 3, 4, 5]

In [14]:
list(range(10,5,-2))

[10, 8, 6]

In [12]:
list(range(0,-9,-2))

[0, -2, -4, -6, -8]

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
for i in range(10):
    print(i)
print("Hello")

0
1
2
3
4
5
6
7
8
9
Hello

In [18]:
for i in "Datamites":
    print(i)
    
print("Completed!")

D
a
t
a
m
i
t
e
s
Completed!

In [22]:
i = int(input("Enter a num:"))
x = 1
for x in range(1,11):
    print(i*x)

Enter a num:5
5
10
15
20
25
30
35
40
45
50

In [28]:
for x in range(11,21):
    for i in range(1,11):
        print(x*i,end=" ")
    print()

11 22 33 44 55 66 77 88 99 110
12 24 36 48 60 72 84 96 108 120
13 26 39 52 65 78 91 104 117 130
14 28 42 56 70 84 98 112 126 140
15 30 45 60 75 90 105 120 135 150
16 32 48 64 80 96 112 128 144 160
17 34 51 68 85 102 119 136 153 170
18 36 54 72 90 108 126 144 162 180
19 38 57 76 95 114 133 152 171 190
20 40 60 80 100 120 140 160 180 200

In [39]:
num = int(input("Enter a num:"))
c=0
for i in range(2,num):                  # 1)5 % 2 == 0   c= 0 
    if (num%i==0):
        c=1
        break
        
if (c==0):
    print("Prime no")
else:
    print("Not Prime")

Enter a num:5
Prime no

In [40]:
for i in range(5):
    print(i)
                                              
else:
    print("Hello")

0
1
2
3
4
Hello

In [43]:
num = 6
for i in range(2,num):
    if num % i == 0:
        print("Not Prime")
        break
        
else:
    print("Prime")

Not Prime

In [53]:
for i in range(1,5):
    print('* '*i)

*
* *
* * *
* * * *

In [54]:
for i in range(1,5):
    if i % 2==0:
        print('# '*i)
        
    else :
        print('& '*i)

&
# #
& & &
# # # #

1  
1 2  
1 2 3  
1 2 3 4

In [3]:
l1 = []
for i in range(-1,len("Datamites"),-1):
    m = i*i
    l.append(m)
    print(l)